.about .container {
  width: 1100px;
  height: 100%;
  justify-content: space-between;
  display: flex;

  .left-row {
    width: 494px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      margin-left: -92px;
    }
  }

  .right-row {
    width: 399px;
    height: 100%;
    align-items: center;
    display: flex;
    .box {
        margin-bottom: 50px;
      .text {
        .title {
          h2 {
            font-size: 30px;
            font-family: "Open Sans";
            color: rgb(65, 64, 66);
            font-weight: bold;
            font-variant: small-caps;
            text-align: left;
          }
          h1 {
            margin-top: -20px;
            font-family: "Open Sans";
            font-size: 72px;
            color: #262d40;
            font-weight: bold;
            font-variant: small-caps;
            letter-spacing: -1px;
            span {
              color: #f26522;
            }
          }
        }
        p {
          width: 400px;
          margin-top: 38px;
          font-size: 14px;
          font-family: "Open Sans";
          color: rgb(0, 0, 0);
          line-height: 1.786;
          text-align: left;
        }
      }
      .read-more {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        h2 {
          font-size: 17px;
          font-family: "Open Sans";
          color: rgb(65, 64, 66);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.25;
          position: absolute;
          margin-left: -1px;
          margin-top: 16px;
        
        }
      }
    }
  }
}

@media only screen and (max-width: 1380px) {
.about .container{
    .left-row{
img{
   margin-left: 0;
   
}
    }
}
}