.action .container {
  width: 1110px;
  height: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
 padding: 0px 165px 0 165px;

  .text {
    h2 {
      font-size: 20px;
      font-family: "Open Sans";
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 2.5;
    }
  }
  .start{
    width: 140px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;

    h2{
        font-size: 15px;
    font-family: "Open Sans";
    color: rgb(54, 162, 244);
    font-weight: bold;
    line-height: 2.667;
    }
}
}

  
  