.nav-bar .container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  height: 152px;
  align-items: center;
  justify-content: space-between;

  .nav {
    display: flex;
    padding-left: 120px;
    .nav-list {
      display: flex;
      flex-direction: row;
      
      list-style: none;

    .items{
        margin-left: 20px;
    
    a{
        text-decoration: none;
        margin-left: 20px;
        text-transform: uppercase;
        color: #333333;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: all ease-in 0.3s;
        font-size: 14px;

        &:hover{
            color: #ff6633;
        }
    }
}
}
  }
.quote{
    width: 181px;
    height: 40px;
    background-color: #f26522;
    border-style: none;
    cursor: pointer;
    h2{
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    
    }
}


}

@media only screen and (max-width: 1150px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -60px;
            }
        }

        .quote{
            margin: 0 30px;
        }

    }
}

@media only screen and (max-width: 1135px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -80px;
            }
        }

        .quote{
            margin: 0 40px;
        }

    }
}


@media only screen and (max-width: 1125px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -60px;
            }
        }

        .quote{
            margin: 0 40px;
        }

    }
}

@media only screen and (max-width: 1122px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -60px;
            }
        }

        .quote{
            margin: 0 40px;
        }

    }
}


@media only screen and (max-width: 1121px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -60px;
            }
        }

        .quote{
            margin: 0 40px;
        }

    }
}

@media only screen and (max-width: 1120px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 20px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -60px;
            }
        }

        .quote{
            margin: 0 40px;
        }

    }
}

@media only screen and (max-width: 1116px) {
    .container{
        width: 100%;

        .logo{
            margin: 0 40px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -140px;
            }
        }

        .quote{
            margin: 0 60px;
        }

    }
}

@media only screen and (max-width: 1100px) {
    .container{
        width: 100%;
        font-size: 13px!important;
        .logo{
            margin: 0 40px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -100px;
            .items{
                a{
                    font-size: 13px!important;
                }
            }
        }
        
    }

    .quote{
    margin-right: 90px;
    
            h2{
                font-size: 13px!important;
            }
        }

    
}
}

@media only screen and (max-width: 1066px) {
    .container{
        width: 100%;
        font-size: 12px!important;
        .logo{
            margin: 0 40px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -120px;
            .items{
                a{
                    font-size: 12px!important;
                }
            }
        }
        
    }

        .quote{
    margin-right: 130px;
            h2{
                font-size: 12px!important;
            }
        }

    
}
}

@media only screen and (max-width: 1046px) {
    .container{
        width: 100%;
        font-size: 12px!important;
        .logo{
            margin: 0 40px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -120px;
            .items{
                a{
                    font-size: 12px!important;
                }
            }
        }
        
    }

        .quote{
    margin-right: 140px;
            h2{
                font-size: 12px!important;
            }
        }

    
}
}

@media only screen and (max-width: 1026px) {
    .container{
        width: 100%;
        font-size: 12px!important;
        .logo{
            margin: 0 40px;
        }

        .nav{
            .nav-list{
                margin: 0 0 0 -140px;
            .items{
                a{
                    font-size: 12px!important;
                }
            }
        }
        
    }

        .quote{
    margin-right: 160px;
            h2{
                font-size: 12px!important;
            }
        }

    
}
}
