.numbers .container {
  width: 1110px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
   padding: 74px 74px;
    
    .one {
      h1 {
        font-size: 48px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.25;
        text-align: center;
        font-weight: lighter;
      }

      span {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 3.429;
        text-align: center;
        font-weight: lighter;
      }
    }

    .two {
      h1 {
        font-size: 48px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.25;
        text-align: center;
        font-weight: lighter;
      }

      span {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 3.429;
        text-align: center;
        font-weight: lighter;
      }
    }

    .three {
      h1 {
        font-size: 48px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.25;
        text-align: center;
        font-weight: lighter;
      }

      span {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 3.429;
        text-align: center;
        font-weight: lighter;
      }
    }

    .for {
      h1 {
        font-size: 48px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.25;
        text-align: center;
        font-weight: lighter;
      }

      span {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 3.429;
        text-align: center;
        font-weight: lighter;
      }
    }
  }

