.slider .container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 1110px;
  height: 776px;
  justify-content: space-between;

  .left-row {
    display: flex;
    width: 467px;
    height: 100%;

    .box {
      flex-direction: column;
      margin-top: 195px;
      h1 {
        font-size: 50px;
        color: rgb(38, 45, 64);
        font-weight: bold;
      }

      p {
        font-size: 15px;
        color: rgb(0, 0, 0);
        line-height: 1.667;
        text-align: left;
        letter-spacing: 0.5px;
        margin-top: 31px;

        span {
          visibility: hidden;
        }
      }

      .button-try {
        width: 127px;
        height: 51px;
        margin-top: -52px;
        position: absolute;
        background-color: #779bc8;
        border-radius: 25.5px;
        border-style: none;
        cursor: pointer;
        h2 {
          font-size: 16px;
          color: #ffff;
        }
      }
    }
  }

  .right-row {
    width: 580px;
    height: 100%;
    display: flex;

    .box {
      flex-direction: column;
      .slider-controls {
        .arrows {
          cursor: pointer;
          margin-top: 328px;
          :nth-last-of-type(1) {
            margin-left: 498px;
          }
        }

        .dots {
          width: 88px;
          height: 10px;
          margin-left: 246px;
          margin-top: 225px;
          display: flex;
          cursor: pointer;
          .dot-one {
            width: 10px;
            height: 10px;
            border-radius: 8px;
            background-color: #eda786;
            cursor: pointer;
          }
          .dot-two {
            width: 10px;
            height: 10;
            border-radius: 8px;
            background-color: #eda786;
            margin-left: 16px;
            cursor: pointer;
          }
          .dot-three {
            width: 10px;
            height: 10px;
            border-radius: 8px;
            background-color: #f26522;
            margin-left: 16px;
            cursor: pointer;
          }
          .dot-for {
            width: 10px;
            height: 10px;
            border-radius: 8px;
            margin-left: 16px;
            background-color: #eda786;
            cursor: pointer;
          }
        }
      }

      .slides {
        position: absolute;
        .slide1 {
          position: absolute;
          margin-top: -493px;
          margin-left: 34px;
        }
        .slide2 {
          position: absolute;
          margin-top: -415px;
          margin-left: 90px;
        }
        .slide3 {
          position: absolute;
          margin-top: -390px;
          left: 68px;
        }
        .slide4 {
          position: absolute;
          margin-top: -392px;
          left: 85px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 100%;

    .left-row {
      width: 100%;
      margin-left: 20px;
    }
    .right-row {
      width: 100%;
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 1135px) {
  .container {
    width: 100%;

    .left-row {
      width: 70%;
      margin-left: 20px;
    }
    .right-row {
      width: 70%;
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 1125px) {
  .container {
    width: 100%;

    .left-row {
      padding-top: 20px;
      .box {
        .text {
          h1 {
            font-size: 40px;
          }
          p {
            font-size: 13px;
            width: 90%;
          }
        }
        .button-try {
          width: 110px !important;
        }
      }
    }
    .right-row {
      margin-left: -20px;
    }
  }
}

@media only screen and (max-width: 1116px) {
  .container {
    width: 100%;

    .left-row {
      padding-top: 20px;
      padding-left: 20px;
      .box {
        .text {
          h1 {
            font-size: 40px;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
        }
        .button-try {
          width: 110px !important;
        }
      }
    }
    .right-row {
      .box {
        margin-left: -20px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;

    .left-row {
      padding-top: 20px;
      padding-left: 20px;
      .box {
        .text {
          h1 {
            font-size: 40px;
          }
          p {
            font-size: 13px;
            width: 95%;
          }
        }
        .button-try {
          width: 110px !important;
        }
      }
    }
    .right-row {
      .box {
        margin-left: -40px;
      }
    }
  }
}

@media only screen and (max-width: 1066px) {
  .container {
    width: 100%;
    .left-row {
      .box {
        p {
          max-width: 75%;
          text-align: justify;
        }
      }
    }
    .right-row {
      .box {
        margin-left: -80px;
      }
    }
  }
}

@media only screen and (max-width: 1046px) {
  .container {
    width: 100%;
    .right-row {
      .box {
        margin-left: -100px;
      }
    }
  }
}

@media only screen and (max-width: 1026px) {
  .container {
    width: 80%;
    .right-row {
      .box {
        margin-left: -120px;
      }
    }
  }
}

