
.container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    color: rgb(255, 255, 255);
 

    .address{
    display: flex;
    flex-direction: row;
    width: 215px;
    height: 97px;
    align-items: center;
    
    img{
        margin-right: 8px;
    }
    }
    .number{
    display: flex;
    flex-direction: row;
    margin-left: 525px;
    margin-right: 22px;
    height: 97px;
    align-items: center;
    img{
        margin-right: 7px;
    }
    }

    .time{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 97px;
    align-items: center;
    img{
        margin-right: 8px;
    }
    }
    }

    @media only screen and (max-width: 1150px) {
        .container{
            width: 100%;
            .address{
               margin-left: 40px;
            }

            .number{
               margin-left: 470px;
               
            }

            .time{
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1135px) {
        .container{
            width: 100%;
            .address{
               margin-left: 30px;
            }

            .number{
               margin-left: 470px;
               
            }

            .time{
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1125px) {
        .container{
            width: 100%;
            .address{
               margin-left: 30px;
            }

            .number{
               margin-left: 469px;
               
            }

            .time{
               
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1122px) {
        .container{
            width: 100%;
            .address{
               margin-left: 30px;
            }

            .number{
               margin-left: 468px;
               
            }

            .time{
               
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1121px) {
        .container{
            width: 100%;
            .address{
               margin-left: 30px;
            }

            .number{
               margin-left: 467px;
               
            }

            .time{
               
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1120px) {
        .container{
            width: 100%;
            .address{
               margin-left: 30px;
            }

            .number{
               margin-left: 463px;
               
            }

            .time{
               
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1116px) {
        .container{
            width: 100%;
            .address{
               margin-left: 50px;
            }

            .number{
               margin-left: 420px;
               
            }

            .time{
                margin-right: 20px;
            }
        }
    }

    @media only screen and (max-width: 1100px) {
        .container{
            width: 100%;
            .address{
               margin-left: 40px;
            }

            .number{
               margin-left: 420px;
               
            }

            .time{
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1066px) {
        .container{
            width: 100%;
            .address{
               margin-left: 40px;
            }

            .number{
               margin-left: 400px;
               
            }

            .time{
                margin-right: 40px;
            }
        }
    }

    @media only screen and (max-width: 1046px) {
        .container{
            width: 100%;
            .address{
               margin-left: 40px;
            }

            .number{
               margin-left: 380px;
               
            }

            .time{
                margin-right: 40px;
            }
        }
    }

