*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    font-size: 14px;
    font-family: "Open Sans" regular;
    max-width: 100%;
    min-height: 100vh;
}

.header{
    max-width: 100%;
    height: 97px;
    background-color: #7799bb;
}

.nav-bar{
    top: 150px;
    width: 100%;
    height: 152px;
    background-color: #ffff;
}

.slider{
    width: 100%;
    height: 776px;
    background-color: #f6d3c3;
}

.about{
    width: 100%;
    height: 806px;
}

.our-work{
    width: 100%;
    height: 518px;
}

.our-history{
    width: 100%;
    height: 724px;
}
.creativity{
    width: 100%;
    height: 546px;
}
.computer{
    width: 100%;
    height: 834px;
}
.numbers{
    width: 100%;
    height: 292px;
    background-color: #e8c7a6;
}
.action{
    width: 100%;
    height: 91px;
    background-color: #f5b490;
}
